.entity-list
{
    width: 100%;
    
}

.entity-wrapper
{
    margin-top: 10px;
    padding: 0 !important;

}

.list-item-wrapper
{
    padding: 0 !important;
}


.item-list-link:hover 
{
    background-color: dimgray;
    cursor: pointer;
}